<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Настройка минимального уровня логгирования -->
	<targets>
		<!-- Логирование в файл -->
		<target xsi:type="File" name="fileTarget" fileName="logs/logfile.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />

		<!-- Логирование в окно вывода (Output window) в Visual Studio -->
		<target xsi:type="Console" name="consoleTarget" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<!-- Логирование всех сообщений от уровня Info и выше в файл -->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />

		<!-- Логирование всех сообщений от уровня Debug и выше в консоль -->
		<logger name="*" minlevel="Debug" writeTo="consoleTarget" />
	</rules>
</nlog>
